.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  /* border: 1px solid blue; */
  border-radius: 30px;
  /* background-color: rgb(6, 14, 131); */
      background: -webkit-linear-gradient(#8CA6DB, #B993D6);
    background: linear-gradient(#8CA6DB, #B993D6);
    opacity: 0.85;
    box-shadow: 0px 15px 50px 10px rgb(0 0 0 / 20%);
  color: white;
  height: 360px;
    width: 360px;
    z-index: 1;
}
.formRegistr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  /* border: 1px solid blue; */
  border-radius: 30px;
  /* background-color: rgb(6, 14, 131); */
      background: -webkit-linear-gradient(#8CA6DB, #B993D6);
    background: linear-gradient(#8CA6DB, #B993D6);
    opacity: 0.85;
    box-shadow: 0px 15px 50px 10px rgb(0 0 0 / 20%);
  color: white;
  height: 360px;
    width: 360px;
    z-index: 1;
}

.title{
  display: block;
  color: rgb(41 29 135 / 79%)
}

.button{
background-color: white;
}