.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #2a363b;
  background-color: #d3cce3;
      color: rgba(26,35,158,.72);
      box-shadow:none;
}
